{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% block extra_css %}{% endblock %}
    <title> {% block title %} Pizaid {% endblock %} </title>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <p>Pizaid</p>
      </div>
      <div id="container">
        <div id="side-menu">
          <dl>
            <dd><a href="/interface" name="top">status</a><br/></dd>
            <dd><a href="/interface/settings" name="settings">settings</a><br/></dd>
          </dl>
        </div>
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div id="footer">
        <p>all rights reserved</p>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'js/vendors/jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendors/jquery-ui-1.11.2.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendors/jsplumb-1.7.2-min.js' %}"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    {% block extra_javascript %}{% endblock %}
  </body>
</html>
