{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% block extra_css %}{% endblock %}
    <title> {% block title %} Pizaid {% endblock %} </title>
  </head>
  <body>
    <div id="wrapper">
      {% include 'header.html' %}
      {% include 'side-menu.html' %}
      <div id="contents">
        {% block content %}{% endblock %}
      </div>
      {% include 'footer.html' %}
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    {% block extra_javascript %}{% endblock %}
  </body>
</html>
