@import "compass/css3";

div#wrapper {
  margin: 0;
  padding: 0;

  #header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 35px;
    width: 100%;
    background-color: #FFA07A;

    h1 {
      height: 11px;
    }
  }

  #footer {
    position: absolute;
    height: 35px;
    width: 100%;
    bottom: 0;
    background-color: #FFA07A;
  }

  #graph {
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: #FFFF00;
  }

  #side-menu {
    float: left;
    border-right: 1px solid black;
    padding-top: 50px;
    width: 15%;
    height: 100%;
  }

}


