{% extends "base.html" %}

{% load staticfiles %}

<!-- include extra css -->
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/interface/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/interface/battery.css' %}" />
{% endblock %}

<!-- include extra javascript -->
{% block extra_javascript %}
<script type="text/javascript" src="{% static 'js/vendors/bullet.js' %}"></script>
<script type="text/javascript" src="{% static 'js/disk_usage_pie_chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/battery_bullet_chart.js' %}"></script>
{% endblock %}

{% block title %}Pizaid管理画面{% endblock %}

{% block content %}
<div class="left">
  <div id="disk-usage" class="element">
    <h2>ディスクの使用状況</h2>
  </div>

  <div id="battery" class="element">
    <h2>バッテリー容量</h2>
    <p id="percentage" data-battery="{{ power.battery_percent }}">
      残り{{ power.battery_percent }}%
    </p>
    <p id="is_ac_plugin">
    {% if power.is_ac_on %}
      充電中
    {% else %}
      放電中
    {% endif %}
    </p>
  </div>

  <div id="network" class="element">
    <h2>ネットワークの設定</h2>
    <p id="ipv4">IPアドレス(v4) - {{ network.ipv4 }}</p>
    <p id="ipv6">IPアドレス(v6) - {{ network.ipv6 }}</p>
  </div>
</div>

<div class="right">
{% for group_name,status in storages.items %}
  <div id={{ group_name }} class="element">
    <h2>{{ group_name }}ストレージ</h2>
    {% if status.capacity_kb == -1 %}
      {{ name }}に設定されたストレージは存在しません。
    {% elif status.capacity_kb == 0 %}
      ストレージが接続されていません。
    {% else %}
    <p>{{ status.capacity_kb }} kb</p>
    <p>{{ status.usage_kb }} kb</p>
    <p>{{ status.usage_percent}} %</p>
      {% for disk in status.disks %}
      <div class="subelement">
        <h3 class="port1">{{ disk.id }}</h3>
          <p>{{ disk.port}}</p>
          <p>{{ disk.size }}</p>
      </div>
      {% endfor %}
    {% endif %}
  </div>
  {{ status.capacity_kb }} {{ status.usage_kb }} {{ status.usage_percent }}
{% endfor %}
</div>
{% endblock %}
