{% load coffeescript %}
{% load staticfiles %}

<html>
  <head>
    <title> {{ title }} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div id="wrapper">
      {% include 'interface/header.html' %}
      {% include 'interface/side-menu.html' %}
      {% include 'interface/main.html' %}
      {% include 'interface/footer.html' %}
    </div>
    <script type="text/javascript">
      {% inlinecoffeescript %}
        console.log "Hello";
      {% endinlinecoffeescript%}
    </script>
  </body>
</html>
