{% extends "base.html" %}

{% load staticfiles %}

<!-- include extra css -->
{% block extra_css %}
<link rel="stylesheet" type="text/css"
      href="{% static 'css/interface/settings.css' %}" />
{% endblock %}

<!-- include extra javascript -->
{% block extra_javascript %}
<script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
{% endblock %}

{% block title %}Pizaidディスク設定{% endblock %}

{% block content %}
<div id="storage" data-disk-ids='{{ disk_ids }}'>
  <h2>ストレージの設定</h2>
  <div id="flowchart"></div>
</div>
{% endblock %}
